body {
    background-color: lavender;
    text-align: center;
}

footer {
    clear: both;
}

hr {
    height: 5px;
    background-color: black;
    border-radius: 20px;
}

#range {
    margin: 8px 0 8px 0;
    text-decoration: underline;
}

#result {
    background-color: black;
    color: lavender;
    border-radius: 10px;
    font-size: 16pt;
    display: inline;
}

#result_label {
    font-size: 16pt;
}