body {
  text-align: center;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: paleturquoise;
}

#button {
  background-color: black;
  color: lightblue;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}

#button:hover {
  background-color: lightblue;
  color: black;
  transition-duration: 0.2s;
}

#button:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 20px 0;
}
